
.tool-bar .button {
    -fx-background-color: transparent;
    -fx-border: 0;
}

.tool-bar .button:hover {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-text-fill: -fx-text-base-color;
    -fx-color: -fx-hover-base;
}

.tool-bar .button:armed {
    -fx-color: -fx-pressed-base;
}